.nav {
	display: grid;
	grid-template-columns: 220px auto;
	gap: 209px;
	align-items: center;

	&__bar {
		display: flex;
		gap: 40px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(5, auto);
		gap: 40px;
		align-content: center;
		font-size: var(--h4-font-size);
	}
}
