blockquote {
	margin: 0;
}

cite {
	color: var(--active-color);
	font-size: var(--h4-font-size);
	font-style: normal;
}

small {
	font-size: var(--p-font-size);
}

.slide-text {
	padding-top: 48px;
	padding-left: 52px;
	padding-right: 52px;
	margin-bottom: 100px;
}

.carousel-container {
	background-color: var(--main-bg-color);
	border-radius: 45px;
	overflow: hidden;
	position: relative;
	padding-bottom: 68px;
}

.carousel-track-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: left;
	margin-left: -959px;
}

.carousel-track {
	display: flex;
	gap: 50px;
	transition: transform 0.5s ease-in-out;
}

.carousel-slide {
	width: 606px;
	color: white;
	padding-top: 84px;
	margin-bottom: 124px;
	position: relative;
}

.slide-svg {
	position: absolute;
}

.carousel-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-indicator {
	display: flex;
	justify-content: center;
	gap: 19px;
}

.carousel-indicator .indicator-svg {
	fill: white;
	cursor: pointer;
	transform: rotate(45deg);
}

.carousel-indicator .indicator-svg:hover {
	fill: rgba(255, 255, 255, 0.7);
}

.carousel-indicator .indicator.active .indicator-svg {
	fill: var(--active-color);
}

.carousel-active {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 189px;
}

.backward {
	justify-content: right;
	margin-left: 959px;
}

.slide-btn {
	background-color: transparent;
}

.prev-svg {
	fill: white;
	opacity: 30%;
	transform: rotate(-150deg);
}

.prev-svg:hover {
	opacity: 100%;
}

.next-svg {
	fill: white;
	opacity: 30%;
	transform: rotate(30deg);
}

.next-svg:hover {
	opacity: 100%;
}
