body {
	font-family: var(--main-font);
	color: var(--main-text-color);
	font-size: var(--p-font-size);
	margin: 0 auto;
	padding: 0;

	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 430px;
	}

	@include desktop {
		padding-left: 100px;
		padding-right: 100px;
		max-width: 1440px;
	}
}
