:root {
	--main-font: "Space Grotesk", Tahoma, sans-serif;
	--h1-font-size: 60px;
	--h1-mob-font-size: 43px;
	--h2-font-size: 40px;
	--h2-mob-font-size: 36px;
	--h3-font-size: 30px;
	--h3-mob-font-size: 26px;
	--h4-font-size: 20px;
	--h4-mob-font-size: 18px;
	--p-font-size: 18px;
	--p-mob-font-size: 16px;
	--p-mob-line-height: calc(24 / 16);
	--medium-font-weight: 500;
	--main-text-color: #000000;
	--main-bg-color: #191a23;
	--active-color: #b9ff66;
	--secondary-bg-color: #f3f3f3;
	--flower: "M84.631 48.9117C117.473 86.3213 87.1455 116.649 49.7359 83.8068C12.3263 116.649 -18.0016 86.3213 14.8408 48.9117C-18.0016 11.5021 12.3263 -18.8258 49.7359 14.0166C87.1455 -18.8258 117.473 11.5021 84.631 48.9117Z";
}
